/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
        url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: local("Kaushan Script"), local("KaushanScript-Regular"),
        url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"),
        url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-latin-300.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300italic - latin */
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
        url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-latin-300italic.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"),
        url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

button,
input {
    cursor: pointer;
}

h2,
h3,
p {
    margin: 0px;
    padding: 0px;
}

.list {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

:root {
    --main-font: "Montserrat", sans-serif;
    --manuscript-font: "Kaushan Script", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

/* HEDAER  */

.header {
    padding: 28px 0px 230px;
    background-image: linear-gradient(360deg,
            rgba(252, 227, 138, 0.9) 0%,
            rgba(243, 129, 129, 0.9) 100%),
        url("../images/header/header-bg.jpg");
    background-size: cover;
    background-position: center;
}

@media (min-resolution: 192dpi) {
    .header {
        background-image: linear-gradient(360deg,
                rgba(252, 227, 138, 0.9) 0%,
                rgba(243, 129, 129, 0.9) 100%),
            url("../images/header/header-bg@2x.jpg");
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-height: 36px;
}

.header__navigation {
    margin-bottom: 178px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 510px;
    margin-right: 56px;
}

.market {
    display: flex;
    justify-content: space-between;
    flex-basis: 90px;
}

.logotype {
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    flex-grow: 1;
}

.menu__item:hover .menu__item-link,
.menu__item-link:focus {
    color: rgb(252, 227, 138);
}

.menu__item:hover .menu__item-link::after {
    visibility: visible;
    opacity: 1;
}

.menu__item-link:focus {
    outline: none;
}


.menu__item-link {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.menu__item-link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(252, 227, 138);
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}

.market__item-link--cart {
    width: 18px;
    height: 15px;
    fill: rgb(255, 255, 255);
}

.market__item-link--search {
    width: 18px;
    height: 18px;
    fill: rgb(255, 255, 255);
}

.market__item-link .market__item-link--cart:hover {
    fill: rgb(252, 227, 138);
}

.market__item-link .market__item-link--search:hover {
    fill: rgb(252, 227, 138);
}

.header__title {
    margin: 0px auto 115px;
}

.header__title--manuscript {
    display: block;
    font-family: var(--manuscript-font);
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 50px;
    transition: all 0.3s linear;
}

.header__title--typescript {
    display: block;
    font-family: var(--main-font);
    font-size: 150px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.header__title--br {
    display: block;
}

.header__link-more {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    width: 160px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    margin: 0px auto;
}

/* SERVICES  */

.services {
    padding: 52px 0px 100px;
}

.section__title {
    margin: 0px 0px 68px;
    text-align: center;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    margin: 42px auto 0px;
}

.section__title--manuscript {
    font-family: var(--manuscript-font);
    font-size: 24px;
    color: rgb(51, 51, 51);
    diplay: block;
}

.section__title--typescript {
    font-family: var(--main-font);
    font-size: 30px;
    text-transform: uppercase;
    display: block;
}

.services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__list-item {
    display: flex;
    flex-basis: 380px;
}

.services__list-item:not(:nth-last-of-type(-n + 3)) {
    margin-bottom: 102px;
}

.services__image {
    flex-basis: 80px;
    background-repeat: no-repeat;
    background-position: top;
}

.services__image--alarm {
    background-image: url("../images/services/alarm.svg");
}

.services__image--graph {
    background-image: url("../images/services/graph.svg");
}

.services__image--computer {
    background-image: url("../images/services/computer.svg");
}

.services__image--book {
    background-image: url("../images/services/book.svg");
}

.services__image--home {
    background-image: url("../images/services/home.svg");
}

.services__image--digital {
    background-image: url("../images/services/digital.svg");
}

.services__description-wrapper {
    flex-basis: 300px;
}

.services__type {
    font-family: var(--main-font);
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.services__description {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: rgb(153, 153, 153);
}

/* TEAM  */

.team {
    padding-bottom: 85px;
}

.team-member__list {
    display: flex;
    justify-content: space-between;
}

.team-member__photo-wrapper {
    margin-bottom: 30px;
}

.team__description {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: center;
}

.team-member__name {
    font-family: var(--main-font);
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.team-member__position {
    font-family: var(--secondary-font);
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: rgb(153, 153, 153);
    text-align: center;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 63px;
}

.footer--line::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(229, 229, 229);
}

.footer__contact {
    align-self: center;
}

.footer__contact-form {
    display: flex;
    align-self: center;
}

.footer__author-description {
    font-family: var(--main-font);
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.footer__author-link {
    display: inline-block;
    color: rgb(243, 129, 129);
}

.footer__name-input {
    font-family: var(--secondary-font);
    font-size: 15px;
    line-height: 24px;
    width: 230px;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    padding: 8px 14px;
}

.footer__name-input::placeholder {
    font-weight: 300;
    font-style: italic;
    color: rgb(204, 204, 204);
}

.footer__name-input:focus {
    outline: none;
}

.footer__name-input:required:focus:valid:not(:placeholder-shown) {
    outline: 2px solid #29a029;
}

.footer__name-input:required:focus:invalid:not(:placeholder-shown) {
    outline: 2px solid #fa0404;
}

.footer__subscribe-btn {
    border: none;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    line-height: 40px;
    background-color: rgb(149, 225, 211);
}